.main{
    width: 1000px;
    margin: 0 auto;
}
.left{
    width: 500px;
    float: left;
    margin-top: 50px;
}
.left h1{
    color: darkcyan;
    font-size: 45px;
}
.left h3{
    color: darkcyan;
    font-size: 20px;
}
.left p{
    text-align: justify;
}
.left a{
    background-color: darkcyan;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.right{
    width: 500px;
    float: left;
}

/* this is gallery seciton style */
.gallery{
    clear: both;
}
.gallery h1{
    text-align: center;
    color: darkcyan;
}
.gallery img{
    width: 300px;
    padding-left: 20px;
    margin-bottom: 10px;
}

/* this is form section style */
.form{
    width: 500px;
    float: left;
    margin: 10px 200px;

}
form input{
    width: 500px;
    padding: 5px;
    margin: 5px;
}

form textarea{
    width: 510px;
    height: 200px;
    margin: 5px;
}
.send-message{
    width: 515px;
    background-color: darkcyan;
    color: white;
    border: none;
}
